In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=cd98f058f2c7a8b15341977bb27128ae&&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title', 'overview' ,'release_date', 'popularity' ,'vote_average', 'vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,121.841,8.704,25761
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,114.857,8.695,19574
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,82.980,8.575,11826
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,81.412,8.565,15211
4,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,109.262,8.539,15616

In [5]:
data = pd.DataFrame()

In [ ]:
import pandas as pd
import requests

# Initialize an empty list to store data frames
dfs = []

# Iterate through the pages
for i in range(1, 463):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=cd98f058f2c7a8b15341977bb27128ae&&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title', 'overview' ,'release_date', 'popularity' ,'vote_average', 'vote_count']]
    dfs.append(temp_df)

# Concatenate all data frames in the list
data = pd.concat(dfs, ignore_index=True)
data

In [ ]:
for i in range(1, 463):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=cd98f058f2c7a8b15341977bb27128ae&&language=en-US&page={}'.format(i))
    temp_df =  pd.DataFrame(response.json()['results'])[['id','title', 'overview' ,'release_date', 'popularity' ,'vote_average', 'vote_count']]
    data = pd.concat([data, temp_df], ignore_index=True)